.fa-trash-alt{
  color: gray;
  cursor: pointer;
  margin-right: 0.2em;
}

.fa-edit{
  color: gray;
  cursor: pointer;
  margin-right: 0.2em;
}

.fa-star{
  color: gray;
  cursor: pointer;
  margin-left: 0.4em;
}

.fa-star:focus,
.fa-star:hover,
.fa-star:active {
  color: #d4145a;
}