<div class="d-block">
  <div class="float-right" (click)="likePost()">
      <i class="fas fa-star"></i>
  </div>
  <div class="float-right" (click)="deletePost(idPost)">
      <i class="far fa-trash-alt"></i>
  </div>
  <div class="float-right mx-2" (click)="editPost()" data-toggle="modal" data-target="#modalEdit">
    <i class="far fa-edit"></i>
  </div>
</div>

<!-- Modal -->
<!-- 
  <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditLabel">Editar publicación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="addEditPost()">
                <input type="text" placeholder="Edita tu publicación"
                 name="name" class="form-control"
                 [(ngModel)]="">
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="addEditPost()" class="btn btn-secondary" data-dismiss="modal">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>  -->
