<div class="container text-center">
    <div class="row justify-content-center">
        <div class="text-center">
            <img src=".\src\app\img\logoFemmesText.png" alt="logotipo">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <h1>SIGN IN</h1><br>
            <div class="logearse">
                <div class="row justify-content-center">
                    <!-- LINKEAR FACEBOOK  -->
                  <!--   <div id="facebook" class="col-6">
                        <a href="#" id="facebookButton" class="btn btn-lg btn-block omb_btn-facebook">
                            <i class="fab fa-facebook-f rounded-circle"></i></a>
                    </div> --> 
                </div>
            </div>
            <div *ngIf="authService.user | async">
                <button type="button" (click)="onLogout()">Logout</button>
            </div>
            <div class="ingresa">
                <!-- INGRESA CON CORREO-->
                <form [formGroup]="authForm" *ngIf="!(authService.user | async)">
                    <div class="form-group">
                        <!--Correo electronico-->
                        <span class="input-group-addon"></span>
                        <input id="email" class="form-control" formControlName="email" placeholder="email address">
                    </div>
                    <div class="form-group">
                        <!--Contraseña-->
                        <span class="input-group-addon"></span>
                        <input id="password" formControlName="password" type="password" class="form-control" name="password"
                            placeholder="Password">
                    </div>
                    <button id="loginButton" (click)="onLogin()" class="btn text-center justify-center" type="submit"
                        [disabled]="!authForm.valid">Ingresar</button>
                    <!--Ingresa-->
                </form>
            </div>
            <button id="GoogleButton" (click)=" doGoogle()" class="btn btn-lg btn-block omb_btn-google btn-danger btn-google" type="button"><i class="fab fa-google rounded-circle"></i>+ Google</button>
            <button id="Facebutton" (click)="doFace()" class="btn btn-lg btn-block btn-facebook" type="button">  <i class="fab fa-facebook-f rounded-circle"></i> Facebook </button>
            <br>
            <h4>¿Olvidaste tu contraseña?</h4>
            <br>
            
            <input id="registerButton" (click)="onRegister()" class="btn btn-lg btn-block omb_btn-google btn-danger btn-register" value="REGISTER" [disabled]="!authForm.valid">
            <h5>¿NO TIENES CUENTA? REGÍSTRATE</h5><br>
        </div>
    </div>
</div>