<app-main></app-main>
<div class="container-fluid"> 
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="card bg-light">
              <div class="card-body bg-light">
                <h5 class="card-title bg-light text-center text-secondary">Rose Marie</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item border-light bg-light text-secondary">Correo: rose.marie.a@gmail.com</li>
                    <li class="list-group-item border-light bg-light text-secondary">Pais: Chile</li>
                    <li class="list-group-item border-light bg-light text-secondary">Cumpleaños: 1 de Mayo 1987 </li>
                  </ul>
              </div>
            </div>
      </div>
    </div>
  </div>  
