.userImg{
  width: 50;
  height: 50;
  margin-left: 5%;
  margin-bottom : 5px;
}

a {
  color: #d4145a;
}

.fa-heart .fa-comment .fa-clock {
  color: gray;
}

.fa-star:focus,
.fa-star:hover,
.fa-star:active {
  color: #d4145a;
}