button {
  background-color: #d4145a;
  color: white;
}

button:honver {
    background-color: #d4145a;
    color: white;
}

a {
  color: #d4145a;
}


@media only screen and (max-width: 768px){
  .btnwall{
      width: 100%;
}
}
