  <!-- Div de text area-->
  <div class="container-fluid"> 
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <!-- Caja de comentarios -->
        <div class="card">
          <div class="card-body">
        
            <div class="form-group">
            <textarea 
            class="form-control" 
            type="text" 
        
          
            placeholder="¿Qué estás pensando?"></textarea>
            <!-- #post user referencia  -->
          </div>
          
            <button class="btnwall btn-light">publicar</button>
          </div>
        </div>
      </div>
    </div>
  </div>  

  
