<!-- Div de amigos, informacion, fotos-->
<div class="container-fluid"> 
    <div class="row">
       <div id="box3" class="col-12 col-md-4">
          <div>
             <a href="#" class="btn btn-lg btn-block" onclick="amigos()" >Amigos</a>
           </div> 
       </div> 
          <div id="box3" class="col-12 col-md-4">
             <div>
               <a href="#" class="btn btn-lg btn-block">Información</a>
             </div> 
         </div>  
            <div id="box3" class="col-12 col-md-4">
                 <div>
                   <a href="#" class="btn btn-lg btn-block">Fotos</a>
                 </div> 
           </div>  
     </div>
 </div>
 <div>
  <!-- Div de text area-->
  <div class="container-fluid"> 
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <!-- Caja de comentarios -->
        <div class="card">
          <div class="card-body">
            <textarea class="form-control" type="text" placeholder="¿Qué estás pensando?"></textarea>
            <button class="btnwall btn-light">publicar</button>
          </div>
        </div>
      </div>
    </div>
  </div>  

  
