

    <!-- Div de amigos, informacion, fotos-->
  <!-- 
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Muro</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Perfil</a>
                            </li>
                        </ul>
<div>

  <div class="container-fluid"> 
      <div class="row">
         <div id="box3" class="col-12 col-md-4">
            <div>
               <a href="#" class="btn btn-lg btn-block" onclick="amigos()" >Amigos</a>
             </div> 
         </div> 
            <div id="box3" class="col-12 col-md-4">
               <div>
                 <a href="#" class="btn btn-lg btn-block">Información</a>
               </div> 
           </div>  
              <div id="box3" class="col-12 col-md-4">
                   <div>
                     <a href="#" class="btn btn-lg btn-block">Fotos</a>
                   </div> 
             </div>  
       </div>
   </div>
</div>
-->
                       
