<app-navbar></app-navbar>
<!-- Div de text area-->
<div class="container-fluid"> 
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <!-- Imagen de usuario -->
        <div class="card mb-3 cardMain">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1517924030062-84f2c8f0784e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3cc23a084974c3228da30fafec97ac71&auto=format&fit=crop&w=752&q=80" alt="Card image cap">
            <app-img-user></app-img-user>
            <div class="card-body">
              <h5 class="card-title text-center">Rut Marie</h5>
              <app-section></app-section>
            </div>
          </div>
      </div>
    </div>
  </div>  
 
  