<app-navbar></app-navbar>
<!-- Div de text area-->
<div class="container-fluid"> 
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <!-- Imagen de usuario -->
        <div class="card mb-3 cardMain">
            <img class="card-img-top" src=".\src\app\img\girls.jpg" alt="Card image cap">
            <app-img-user></app-img-user>
            <div class="card-body">
              <h5 class="card-title text-center">Nombre</h5>
              <app-section></app-section>
            </div>
          </div>
      </div>
    </div>
  </div>  
 
  