/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: 'Roboto', sans-serif; 
  background-image: url('./assets/img/76.jpg');
  background-size: auto auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

