<div class="container-fluid">
  <div class="row justify-content-center btnSectionGroup">
    <div class=" col-md-3 col-xs-3 col-sm-3">
      <div>
        <a href="#" class="btnSection btn-lg btn-block" routerLink="/friends">Amigos</a>
      </div>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3">
      <div>
        <a href="#" class="btnSection btn-lg btn-block" routerLink="/info">Info</a>
      </div>
    </div>
    <div class=" col-md-3 col-xs-3 col-sm-3">
        <div>
          <a href="#" class="btnSection btn-lg btn-block" routerLink="/home" >Muro</a>
        </div>
      </div>
    <div class="col-md-3 col-xs-3 col-sm-3">
      <div>
        <a href="#" class="btnSection btn-lg btn-block" routerLink="/pictures">Fotos</a>
      </div>
    </div>
  </div>
</div>