<div class="container-fluid">
  <div class="row justify-content-center btnSectionGroup">
    <div class=" col-md-3 col-xs-3 col-sm-3">
      <div>
        <a href="friends" class="btnSection btn-lg btn-block">Amigos</a>
      </div>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3">
      <div>
        <a href="info" class="btnSection btn-lg btn-block">Info</a>
      </div>
    </div>
    <div class=" col-md-3 col-xs-3 col-sm-3">
        <div>
          <a href="wall" class="btnSection btn-lg btn-block">Muro</a>
        </div>
      </div>
    <div class="col-md-3 col-xs-3 col-sm-3">
      <div>
        <a href="pictures" class="btnSection btn-lg btn-block">Fotos</a>
      </div>
    </div>
  </div>
</div>